@font-face{font-family:'Weather';src:url('weather.svg#weather') format('svg');font-weight:normal;font-style:normal;}

#fc span.day:after {
    font-family: "Weather";
    position: absolute;
    font-size: 56px;
    right: 38px;
}

#fc .day.tstorms:after{
    content: "Y";
}
#fc .day.chancetstorms:after{
    content: "X";
}

#fc .day.partly-cloudy-day:after{
    content: "A";
    right: 38px;
    bottom: -14px;
}

#fc .day.partly-cloudy-night:after{
    content: "a";
}

#fc .day.rain:after{
    content: "G";
    right: 43px;
    bottom: -8px;

}


