html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

}

body{
    overflow: scroll; height: 100%; width: 100%;
    background: #efefef;
}

.hvac a.btn {
    padding: 10px;
}
#hvac-stats {
float: right;
margin-right: 10px;
width: 180px;
}
#current-temp{
    height: 142px;
    border: 1px solid #ccc;
    margin-bottom: 35px;
    background: #fff;
}
.change-temp a:hover{
    text-decoration: none;
}

.change-temp a:first-child{
    margin-left: 0px;
}
.change-temp a{
  display: inline-block;
  padding: 7px 25px;
  margin-bottom: 0;
  margin-left: 3px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#main{
    width:480px;
    height:300px;
    box-sizing: border-box;
    padding-left: 70px;
}

#sidebar{
    height:300px;
    width:60px;
    background: #fefefe;
    border-right: 1px solid #ddd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
}



#sidebar i{
    pointer-events: none;
}

#sidebar li{
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: center;
    font-size: 1.4em;
    padding-top: 15px;
    padding-left: 3px;
    text-indent: -2px;
    height:60px;
    width: 60px;
    box-sizing: border-box;
}

#sidebar li:last-child{
    border: none;
    padding-top: 16px;
}



#thermostat{
    float: left;
    text-align: center;

}

.thermostat{
    width: 210px;
    float: left;
    margin-top:10px;
}
#weather-forecast{
    float: left;
    display: none;
}

#current-temp .button{
    padding: 0 auto;
}

#current-temp .temp{
    font-size: 7em;
    line-height: 1.25em;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 0 auto;
}

#current-temp .temp::after{
    content: '\00B0';
}

.inside, .outside {
    width: 100%;
    display: block;
    padding: 6px 0px;
    font-size: 95%;
    margin: 10px 0;
}

.inside{
    margin-top: 15px;
}
#current-temp .change-temp{
    margin-top: -3px;
}



#thermostat .btn-group{
    margin-bottom: 10px;
}

.pane{
    width: 410px;
}

/* weather forecast */

#forecast{
    top:199px;
    height: 100px;
    position: fixed;
}



#currentConditions{
	float: left;
	width: 410px;
	height: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.icon-flag.yellow{
    color: #FCF2A2;
}
.icon-flag.red, .icon-flag.doublered{
    color: #AA0F03;
}

.icon-flag.green{
    color: #5DBB58;
}

.icon-flag.purple{
    color: #A178BA;
}

.icon-flag.doublered::after{
    content: "\f024";
    display: block;
}

.icon-flag{
    font-size: 53px;
    margin-top: -15px;
    float: right;
    text-shadow: 1px 1px 2px #aaa;
}

#currentConditions h3{
    padding: 0px 15px 0 0;
}

#outsideTemp{
	background: url('img/Climacons_huge.png');

	height: 185px;
	font-size: 34px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	font-weight: bold;
	width: 50%;
	margin-top: 10px;
}

#outsideTemp:after{
	content: "\00B0";
}



#outsideTemp.partlycloudy, #outsideTemp.mostlycloudy{
    padding-top: 94px;
    padding-left: 36px;
    background-position: 132% 4%;
    margin-left: 5px;
}

#outsideTemp.night.partlycloudy, #outsideTemp.night.mostlycloudy{
    padding-top: 94px;
    padding-left: 36px;
    background-position: 152% 4%;
    margin-left: 5px;
}



#outsideTemp.clear{
    padding-top: 72px;
    padding-left: 0px;
    background-position: -1959px -740px;
    font-size: 24px;
    text-align: center;
}

#outsideTemp.night.clear{
    padding-top: 100px;
    padding-left: 111px;
    background-position: -1272px -758px;
    font-size: 42px;
}

#outsideTemp.overcast{

}

#outsideTemp.cloudy{
    padding-top: 65px;
    padding-left: 64px;
    background-position: -29px -78px;
    font-size: 31px;

}


#outsideTemp.tstorms{
    padding-top: 34px;
    padding-left: 56px;
    background-position: 79% 94%;


}

#outsideTemp.rain{
	padding-top: 48px;
	padding-left: 59px;
	background-position: 60% 6%;
}

#weather-forecast{
    height:300px;
}

#forecast li{
	list-style: none;
	display: block;
	font-weight: bold;
	float: left;
	height: 100px;
	width: 16.6667%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-right: 1px solid #ddd;


}

#forecast ul {
    margin: 0;
    margin-left: -10px;
    width: 420px;
    height: 101px;
    padding: 0;
    border-top:1px solid #ddd;
}


#forecast li:last-child{
	border-right: none;


}

#forecast li span{
	text-align: center;
	display: block;
	padding: 5px;
	font-size: 1em;
}


#forecast li span.day{
	background: url('img/Climacons_small.png');
	text-transform: uppercase;
	padding-bottom: 50px;

}

#forecast li span.temp{
    margin-top: -4px;
    margin-left: 3px;
}

#forecast li span.day.tstorms{
background-position: -320px -520px;
}

#forecast li span.day.partlycloudy, #forecast li span.day.mostlycloudy{
background-position: -66px -15px;
}



#forecast li span.day.chancerain{
background-position: -321px -17px;
}


#forecast li span.day.cloudy{
background-position: 2px -16px;
}

#forecast li span.day.clear{
background-position: -409px -246px;
}

#forecast li span.day.chancetstorms{
background-position: -409px -518px;
}


#forecast li span:last-child:after{
	content: "\00B0";

}