
{% extends "_base.html" %}{% block content %}

    <div id="main">
        <ul id="sidebar">
            <li data-pane="thermostat"><i class="icon-dashboard"></i></li>

            <li data-pane="weather-forecast"><i class="icon-umbrella"></i></li>
            
            <li><i class="icon-lightbulb"></i></li>
            
            <li><i class="icon-cogs"></i></li>

            <li></li>

        </ul>

        <div class="pane" id="thermostat">
            
            <div id="current-temp">
                <div class="temp">{{hvac.current_temp}}</div>
                <div class="btn-group-vertical change-temp">
                    <a type="button" id="temp-plus" class="btn btn-default"><i class="icon-plus"></i></a>
                    <a type="button" id="temp-minus" class="btn btn-default"><i class="icon-minus"></i></a>
                </div>
            </div>
            

            <div class="hvac hvac_setting btn-group btn-group-justified">
                <a type="button" class="btn heat {% if hvac.hvac_setting == 'HEAT' %}btn-primary{% else %}btn-default{% endif%}">HEAT</a>
                <a type="button" class="btn ac {% if hvac.hvac_setting == 'AC' %}btn-primary{% else %}btn-default{% endif%}">AC</a>
            </div>

            <div class="hvac on_off btn-group btn-group-justified">
                <a type="button" class="btn auto {% if hvac.on_off == 'AUTO' %}btn-primary{% else %}btn-default{% endif%}">AUTO</a>
                <a type="button" class="btn on {% if hvac.on_off == 'ON' %}btn-primary{% else %}btn-default{% endif%}">ON</a>
                <a type="button" class="btn off {% if hvac.on_off == 'OFF' %}btn-primary{% else %}btn-default{% endif%}">OFF</a>
            </div>
            <span class="inside label label-info">Current House Temp <span>{{hvac.inside_temp}}&deg;</span></span>
            <span class="outside label label-success">Current Outside Temp <span>{{ weather.current_observation.temp_f|round|int }}&deg;</span></span>
        </div>
        {% include "weather.html" %} 
    </div>
{% endblock %}

