{% block weather %}
<div class="pane" id="weather-forecast">

    <div id="outsideTemp" class="{% if night %}night {% endif %}{{ weather.current_observation.icon|lower }}">{{ weather.current_observation.temp_f|round|int }}</div>
	
	<div id="currentConditions">
	    <h3><i class="icon-flag {{ flag }}"></i> {{ weather.location.city }}</h3><p>
	    High: {{ weather.forecast.simpleforecast.forecastday[0].high.fahrenheit }}&deg;
	    <br/>Low: {{ weather.forecast.simpleforecast.forecastday[0].low.fahrenheit }}&deg;
	    <br/>Wind: {% if weather.current_observation.wind_mph < 1 %} Calm {% else %}  {{ (weather.current_observation.wind_mph*0.868976242)|round(1) }} knots, {{ weather.current_observation.wind_dir }}{% endif%}
	    <br/>Relative Humidity: {{ weather.current_observation.relative_humidity }}</p></div>
	<div id="forecast">
		
		<ul>
		<li><span class="day {{ weather.forecast.simpleforecast.forecastday[1].icon }}">{{ weather.forecast.simpleforecast.forecastday[1].date.weekday_short|upper }}</span><span class="temp">{{ weather.forecast.simpleforecast.forecastday[1].high.fahrenheit }}</span></li>
		<li><span class="day {{ weather.forecast.simpleforecast.forecastday[2].icon }}">{{ weather.forecast.simpleforecast.forecastday[2].date.weekday_short|upper }}</span><span class="temp">{{ weather.forecast.simpleforecast.forecastday[2].high.fahrenheit }}</span></li>
		<li><span class="day {{ weather.forecast.simpleforecast.forecastday[3].icon }}">{{ weather.forecast.simpleforecast.forecastday[3].date.weekday_short|upper }}</span><span class="temp">{{ weather.forecast.simpleforecast.forecastday[3].high.fahrenheit }}</span></li>
		<li><span class="day {{ weather.forecast.simpleforecast.forecastday[4].icon }}">{{ weather.forecast.simpleforecast.forecastday[4].date.weekday_short|upper }}</span><span class="temp">{{ weather.forecast.simpleforecast.forecastday[4].high.fahrenheit }}</span></li>
		<li><span class="day {{ weather.forecast.simpleforecast.forecastday[5].icon }}">{{ weather.forecast.simpleforecast.forecastday[5].date.weekday_short|upper }}</span><span class="temp">{{ weather.forecast.simpleforecast.forecastday[5].high.fahrenheit }}</span></li>
		<li><span class="day {{ weather.forecast.simpleforecast.forecastday[6].icon }}">{{ weather.forecast.simpleforecast.forecastday[6].date.weekday_short|upper }}</span><span class="temp">{{ weather.forecast.simpleforecast.forecastday[6].high.fahrenheit }}</span></li>
		</ul>
	</div>
			
</div>


{% endblock %}