<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css" /> 
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    
    <title>Home Automation</title>
</head>
<body>
    {% block content%}{% endblock %}
    <script src="static/jquery.js" type="text/javascript" ></script>
    <script src="static/underscore.min.js" type="text/javascript" ></script>
    <script src="static/vmouse.js" type="text/javascript" ></script>
    <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
    <script src="static/app.js" type="text/javascript" ></script>
    
    <script type="text/template" id="weather_template">
    
    <div class="pane" id="weather-forecast">

            <div id="outsideTemp" class="{% if night %}night {% endif %}<%= d.current_conditions.icon %>"><%= d.current_conditions.temp_f %></div>
        	
        	<div id="currentConditions">
        	    <h3><i class="icon-flag <%= flag %>"></i> <%= d.display_location.city %></h3><p>
        	    High: <%= d.forecast[0].high.fahrenheit %>&deg;
        	    <br/>Low: <%= d.forecast[0].low.fahrenheit %>&deg;
        	    <br/>Wind: <%= d.current_observation.wind_mph %> knots
        	    <br/>Relative Humidity: <%= d.current_observation.relative_humidity %></p></div>
        	<div id="forecast">	
        		<ul>
            		<li><span class="day <%= d.forecast[1].icon %>"><%= d.forecast[1].date.weekday_short %></span><span class="temp"><%= d.forecast[1].high.fahrenheit %></span></li>
            		<li><span class="day <%= d.forecast[2].icon %>"><%= d.forecast[2].date.weekday_short %></span><span class="temp"><%= d.forecast[2].high.fahrenheit %></span></li>
            		<li><span class="day <%= d.forecast[3].icon %>"><%= d.forecast[3].date.weekday_short %></span><span class="temp"><%= d.forecast[3].high.fahrenheit %></span></li>
            		<li><span class="day <%= d.forecast[4].icon %>"><%= d.forecast[4].date.weekday_short %></span><span class="temp"><%= d.forecast[4].high.fahrenheit %></span></li>
            		<li><span class="day <%= d.forecast[5].icon %>"><%= d.forecast[5].date.weekday_short %></span><span class="temp"><%= d.forecast[5].high.fahrenheit %></span></li>
            		<li><span class="day <%= d.forecast[6].icon %>"><%= d.forecast[6].date.weekday_short %></span><span class="temp"><%= d.forecast[6].high.fahrenheit %></span></li>
        		</ul>
        	</div>
        </div>
    </script>
</body>
</html>