<form class="left">
  <div class="form-group">
    <label for="zip_code">Current Zip Code</label>
    <input type="zip_code" class="form-control" id="zip_code" placeholder="Zip Code" value="{{ settings.zip_code }}">
  </div>
  
  <button class="btn btn-default">Submit</button>
</form>
<form class="right">
<label for="zip_code">Lights Control</label>
<div class="input-group">
    
    <input type="text" class="form-control" id="new_light" placeholder="Light Name">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add Light</button>
    </span>
  </div>
</form>