<div class="thermostat">
    <div id="current-temp">
        <div class="temp">{{hvac.current_temp}}&deg;</div>
        <div class="change-temp">
            <a id="temp-minus" ><i class="icon-minus"></i></a>
            <a id="temp-plus" ><i class="icon-plus"></i></a>
        </div>
    </div>
    
    <div class="thermostat-control">
        <div class="hvac hvac_setting btn-group btn-group-justified">
            <a type="button" class="btn heat {% if hvac.hvac_setting == 'HEAT' %}btn-primary{% endif%}">HEAT</a>
            <a type="button" class="btn ac {% if hvac.hvac_setting == 'AC' %}btn-primary{% endif%}">AC</a>
        </div>

        <div class="hvac on_off btn-group btn-group-justified">
            <a type="button" class="btn auto {% if hvac.on_off == 'AUTO' %}btn-primary{% endif%}">AUTO</a>
            <a type="button" class="btn on {% if hvac.on_off == 'ON' %}btn-primary{% endif%}">ON</a>
            <a type="button" class="btn off {% if hvac.on_off == 'OFF' %}btn-primary{% endif%}">OFF</a>
        </div>
    </div>
</div>

<div id="hvac-stats">
    <span class="temps label label-info">Current House Temp <span>{{hvac.inside_temp}}&deg;</span></span>
    <span class="temps outside label label-success">Current Outside Temp <span>{{ weather.currently.temperature }}&deg;</span></span>
</div>
