    
	<div id="currentConditions">
    	<h3>{{ weather.currently.location}}</h3>
    	<div id="ot" class="{{ weather.currently.icon }}">{{ weather.currently.temperature }}&deg;</div>
    	<div id="temps"><span class="high">{{ weather.forecast[0].temperatureMax }}&deg;</span>/  <span class="low"> {{ weather.forecast[0].temperatureMin }}&deg;</span></div>
	    <div id="vitals">
    	   <span class="wind {{ weather.currently.wind_string }}"><i class="icon-flag {{ weather.currently.flag_color }}"></i>{{ weather.currently.windSpeed }} kt</span> <span class="humidity"> {{ weather.currently.humidity }}%</span>
	    </div>
	    <p class="summary"><p><b>Next Hour</b><br/> {{ weather.summaries.hour }} <br/></p><p><b>Next 24 Hours</b><br/> {{ weather.summaries.hours }}</p></div>
	<div id="fc">
		
		<ul>
    		<li><span class="day {{ weather.forecast[1].icon }}">{{ weather.forecast[1].time }}</span><span class="temp">{{ weather.forecast[1].temperatureMax }}&deg;</span></li>
    		<li><span class="day {{ weather.forecast[2].icon }}">{{ weather.forecast[2].time }}</span><span class="temp">{{ weather.forecast[2].temperatureMax }}&deg;</span></li>
    		<li><span class="day {{ weather.forecast[3].icon }}">{{ weather.forecast[3].time }}</span><span class="temp">{{ weather.forecast[3].temperatureMax }}&deg;</span></li>
    		<li><span class="day {{ weather.forecast[4].icon }}">{{ weather.forecast[4].time }}</span><span class="temp">{{ weather.forecast[4].temperatureMax }}&deg;</span></li>
    		<li><span class="day {{ weather.forecast[5].icon }}">{{ weather.forecast[5].time }}</span><span class="temp">{{ weather.forecast[5].temperatureMax }}&deg;</span></li>
    		<li><span class="day {{ weather.forecast[6].icon }}">{{ weather.forecast[6].time }}</span><span class="temp">{{ weather.forecast[6].temperatureMax }}&deg;</span></li>
        </ul>
	</div>